

.btn {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  height: 50vh;
  padding: 2%;
}

.cuadro {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  padding: 10px;
  width: 100px;
  color: white;
  margin-left: 30px;
  text-align: center;
  border-radius: 10px;
}

.boton {
  padding: 5px 10px;
  background-color: rgba(255, 125, 233, 0.911);

  margin: 10px 5px;
  font-size: 15px;
  border-radius: 5px;
}

.advertencia {
  margin: 10px;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
}
